<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/addname" method="post"><input type="text" name="VisitorName" value=""><input type="submit" value="Hello!"></form>
</body>
</html>