@model BankOfSimba.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body> 
    @Model.AnimalType<br />
    @Model.Balance.00 Zebra<br />
    @Model.Name
    </body>
</html>
