@model Counter.Models.CounterModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        @Model.Number
    </p>
    <form action="/" method="post">
        <input type="submit" value="Reload">
    </form>
</body>
</html>