@model Quiz.ViewModels.QuizViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>The Quiz Game</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center">The Quiz Game</h1>
    <br />
    <br />
    @if (@Model.Score > 0)
    {
        <h2>Your score is: @Model.Score points</h2>
        <br />
        <br />
    }

    <h3>
        <a href="/question">Add a Question</a>
    </h3>

    @if (Model.Questions.Any())
    {

        <h3>
            <a href="/quiz">Play</a>
        </h3>
    }

</body>
</html>