<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Add a question</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center">Add a new question!</h1>
    <br />
    <br />    
    <form action="/question" method="post">  
        <p>Your question:</p>
        <input type="text" name="AskQuestion" placeholder="Question" required/> ?
        <br />
        <p>Possible answers:</p>
        <input type="radio" name="TrueAnswer" value="1" required><input type="text" name="AnswerOne" placeholder="Answer no. 1" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <input type="radio" name="TrueAnswer" value="2" ><input type="text" name="AnswerTwo" placeholder="Answer no. 2" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <input type="radio" name="TrueAnswer" value="3" ><input type="text" name="AnswerThree" placeholder="Answer no. 3" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <input type="radio" name="TrueAnswer" value="4" ><input type="text" name="AnswerFour" placeholder="Answer no. 4" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <p>Please mark the correct answer!</p>
        <button type="submit">ADD</button>
    </form>
</body>
</html>