<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Add a question</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center">Add a new question!</h1>
    <br />
    <br />    
    <form action="/question" method="post">  
        <p>Your question:</p>
        <input type="text" name="askquestion" placeholder="Question" required/>        
        <br />
        <p>Possible answers:</p>
        <input type="radio" name="trueanswer" value="" required><input type="text" name="answerone" placeholder="Answer no. 1" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <input type="radio" name="trueanswer" value="" required><input type="text" name="answertwo" placeholder="Answer no. 2" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <input type="radio" name="trueanswer" value="" required><input type="text" name="answerthree" placeholder="Answer no. 3" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <input type="radio" name="trueanswer" value="" required><input type="text" name="answerfour" placeholder="Answer no. 4" required/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <p>Please mark the correct answer!</p>
        <button type="submit">ADD</button>
    </form>
</body>
</html>